
.home {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.profile {
  min-width: 375px;
  object-fit: contain;
  width: 100%;
}

.profileContainer {
  width: 50%;
  min-width: 425px;
}

.wrapper {
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  min-width: 350px;
}

.border {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: 0;
  height: 300%;
  width: 250%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #f8f8f3 20%, #f8f8f3 40%, #c780b2 50%, #f8f8f3 55%, #f8f8f3 70%, #f8f8f3 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
  opacity: 0.3;
}

.description {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 98%;
  width: 98%;
  background-color: #f8f8f3;
  z-index: 1;
  border-radius: 5px;
}

.descriptionContainer {
  width: 380px;
  height: 310px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}